<!DOCTYPE html>
<html lang="en">

    <head>
      <!-- imports -->  
      <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome to Mission to Mars!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
      </head>
      <body>
        <!-- container used to house jumbotron 
          and text along with button that scrapes data from app.py -->
        <div class="container-fluid">
            <div class="jumbotron text-center">
              <h1>Mission to Mars</h1>
              <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div> <br>
    <!-- create dive that will house article title and preview paragraph-->
    <div>
      <h2>Latest Mars News:</h2>
      <h6>{{mars.headline_title}}</h6>
      <p class="small">{{mars.headline_par}}</p>
    </div> <br>
    <!-- store featured image in card-->
    <div class="card border-white float-left">
      <h2>Featured Mars Image</h2>
      <img src="{{mars.featured_img_url}}" alt="featured image">

    </div><br><br>
    <!--house table in card that floats to the right of featured image -->
    <div class="card border-white float-right table-striped table-bordered">
      <h4 class="text-center"><strong>Mars Facts</strong></h4>
      {{mars.df|safe}} 
    

    </div>
    
    
    <!--create card that will house hemisphere images-->
    <div class="card mx-auto border-white pt-4" style="width:500px; height:2200px;">
      <div class="card-body border-white">
        <h4 class="text-center border-white">Mars Hemispheres</h4><br>
        
        
        <!--loop through hemisphere_pics and insert hemisphere.title, and hemisphere.imgurl into card -->
        {% for hemisphere in mars.hemisphere_pics%}
        <h6 class="text-center">{{hemisphere.title}}</h6>
        <img src="{{hemisphere.img_url}}" class="mx-auto pb-4 pt-4" height="500" alt="hemisphere_pics">
          
          {% endfor %}
          <!-- keep card in 1x4 grid inorder to keep pics larger 
            and take advantage of desktop scrolling-->
        </div>
        



    </div>
    


      
    
    
    
    
    
    
    
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>